<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TouchsMaps</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <main class="container">
        <section class="presentation">
            <h1 class="title">Bienvenido a TouchsMaps</h1>
            <h3 class="presentation_desc">Consulta los mapas de toques de todos los jugadores que jugaron la final de la Copa Mundial de Fútbol "Qatar 2022"</h3>
            <a href="/players" class="link">Empezar</a>
        </section>

    </main>
</body>
</html>